<div class="welcome-card bg-white">
    <h1>Diaries</h1>
    <p class="lead">学内クラス向け日誌管理システム「Diaries」<br>生徒と教員の間における手間を簡略化することができます。</p>
</div>

<div class="container py-5">
    <div class="p-4 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">更新内容</h6>
    <div class="media text-muted p-3 d-table border-bottom">
        <div class="d-table-row small pb-3 mb-0">
            <p class="d-table-cell">2020/04/30</p>
            <p class="media-body d-table-cell px-2 w-100">
              トップページを作成した。
            </p>
        </div>
    </div>
    <small class="d-block text-right mt-3">
      <a href="#">もっとみる</a>
    </small>
  </div>
</div>
